[% IF company %]
    <h1>[% company.name | html %]</h1>
    <p>[% company.id | html %]</p>
    <p>[% company.account | html %]</p>
    <p>[% company.account_my | html %]</p>
    <hr>
    <p>[% company.notes | html %]</p>
[% ELSE %]
    Company not found
[% END %]
