<pre>

$$\       $$\ $$\ $$\           
$$ |      \__|$$ |$$ |          
$$$$$$$\  $$\ $$ |$$ |$$\   $$\ 
$$  __$$\ $$ |$$ |$$ |$$ |  $$ |
$$ |  $$ |$$ |$$ |$$ |$$ |  $$ |
$$ |  $$ |$$ |$$ |$$ |$$ |  $$ |
$$$$$$$  |$$ |$$ |$$ |\$$$$$$$ |
\_______/ \__|\__|\__| \____$$ |
                      $$\   $$ |
                      \$$$$$$  |
                       \______/ 

</pre>
